
:root {
    --bg-color: #fafaf8!important;
    --fg-color: #333333!important;
    --heading-color: #252525!important;
    --paragraph-color: #333333!important;
    --link-color: #4b4b4b!important;
    --card-bg-color: #f5f5f5!important;
}

.notion-page {
    width: 600px!important;
    padding-bottom: 1rem!important;
}

.notion {
    font-size: 16px!important;
    color: var(--paragraph-color)!important;
}

h2, h3 {
    font-family: 'Outfit', sans-serif!important;
    color: var(--heading-color)!important;
}

.notion-page a {
    border-bottom: none!important;
    color: var(--heading-color)!important;
    opacity: 1!important;
}

/**** RESET ****/

header,
.notion-title,
.notion-hash-link,
.notion-callout:first-child,
.notion-page-icon-image,
.notion-collection-header,
.notion-spacer {
    display: none!important;
}


.notion-callout-text {
    margin: 0!important;
}

.notion-callout .notion-link {
    border: none!important;
}

/* PAGE LOAD */

.notion-page {
    animation: pageLoad 1.5s ease-in-out!important;
}

@keyframes pageLoad {
    0% {
        opacity: 0!important;
    }
    60% {
        opacity: 0!important;
    }
    100% {
        opacity: 1!important;
    }
    
}

/**** ABOUT SECTION ****/

.notion-asset-wrapper-image img {
    max-width: 11rem!important;
    border-radius: 100%!important;
}

.notion-page-content-inner > .notion-text .notion-link {
    text-decoration: underline!important;
}

.notion-page-content-inner > .notion-text .notion-link:hover {
    opacity: .7!important;
}

/**** INNER PAGE HEADER ****/

.notion-row {
    align-items: center!important;
    gap: 1rem!important;
    transition: .3s ease-in!important;
}

.notion-row div:first-child {
    max-width: 100px!important;
}

.notion-row:hover a {
    opacity: .7!important;
}

@media (max-width: 640px) {
    .notion-row {
        flex-direction: row!important;
    }
}

/**** PROJECTS SECTION ****/

/**** SECTION HEADER ****/
.notion-callout {
    border: none!important;
    background: transparent!important;
    padding: 0!important;
    margin: 2rem 0 0!important;
}
.notion-callout .notion-page-icon-inline {
    display: none!important;
}

.notion-callout h3 {
    margin: 0!important;
}

.notion-callout .notion-callout-text {
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    margin-bottom: .5rem!important;
}

.notion-callout .notion-text {
    text-align: right!important;
}

.notion-callout .notion-text .notion-link {
    opacity: .7!important;
}

.notion-callout .notion-text .notion-link:hover {
    opacity: 1!important;
}

/**** END SECTION HEADER ****/

.notion-gallery-grid {
    border-top: none!important;
    padding: 0.1rem!important;
}

/* PROJECTS COLLECTION */

.notion-gallery-grid.notion-gallery-grid-size-large {
    grid-auto-rows: auto!important; 
    grid-gap: 0!important;
    gap: 0!important;
}

.notion-gallery-grid-size-large .notion-collection-card {
    padding: 1rem!important;
    height: fit-content!important;
    border-radius: 1rem!important;
    background-color: var(--card-bg-color)!important;
    box-shadow: none!important;
    transition: .3s ease-in!important;
    margin-bottom: 1rem!important;
}

.notion-gallery-grid-size-large .notion-collection-card:hover {
    transform: translateY(-4px)!important;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(37,37,37,0.25)!important;
    -moz-box-shadow: 0px 4px 5px 0px rgba(37,37,37,0.25)!important;
    box-shadow: 0px 4px 5px 0px rgba(37,37,37,0.25)!important;
}

.notion-gallery-grid-size-large .notion-collection-card-body {
    position: relative!important;
}

.notion-gallery-grid-size-large .notion-collection-card-property, 
.nested-form-link {
    white-space: normal!important;
    font-size: 1rem!important;
    font-family: "Roboto Mono"!important;
}

.notion-gallery-grid-size-large .notion-collection-card .notion-collection-card-property:first-child .notion-page-title-text {
    font-family: 'Outfit', sans-serif!important;
    color: var(--heading-color)!important;
    font-size: 1.25rem!important;
    font-weight: 600!important;
}

.notion-gallery-grid-size-large .notion-collection-card .notion-collection-card-property:nth-of-type(2) {
    position: absolute!important;
    top: 4px!important;
    right: 10px!important;
    background-color: var(--card-bg-color)!important;
    padding: 0.25rem 0.75rem!important;
    border-radius: 0.5rem!important;
}

.notion-gallery-grid-size-large .notion-collection-card-property .notion-link {
    text-decoration: none!important;
    opacity: .6!important;
}

.notion-gallery-grid-size-large .notion-collection-card:hover .notion-collection-card-property .notion-link {
    opacity: 1!important;
}

.notion-gallery-grid-size-large .notion-collection-card-property .notion-property-url form:after {
    content: " →"!important;
    opacity: .6!important;
}

.notion-gallery-grid-size-large .notion-collection-card:hover .notion-collection-card-property .notion-property-url form:after {
    opacity: 1!important;
}

/**** THOUGHTS SECTION ****/
.notion-gallery-grid.notion-gallery-grid-size-medium {
    display: flex!important;
    flex-direction: column!important;
    gap: 0!important;
    border-top: 1px solid var(--heading-color)!important;
    padding: 0!important;
}

.notion-gallery-grid-size-medium .notion-collection-card {
    box-shadow: none!important;
    border-radius: 0!important;
    border-bottom: 1px solid var(--heading-color)!important;
    width: 100%!important;
}

.notion-gallery-grid-size-medium .notion-collection-card-body {
    padding: 12px 0!important;
}

.notion-gallery-grid-size-medium .notion-collection-card-property {
    padding: 0!important;
}

.notion-gallery-grid-size-medium .notion-page-link {
    justify-content: space-between!important;
    align-content: center!important;
}

.notion-gallery-grid-size-medium .notion-page-link::after {
    content: "Read →"!important;
    font-size: 1rem!important;
    padding-left: 1rem!important;
}

.notion-gallery-grid-size-medium .notion-page-title-text {
    white-space: normal!important;
    font-size: 1rem!important;
}

/* THOUGHTS PAGE */
.notion-collection-row {
    display: none!important;
}


/*** CONTACT PAGE ***/

.notion-row:nth-of-type(2) {
    gap: 0!important;
}

.notion-row:nth-of-type(2) .notion-spacer {
    display: block!important;
}

.notion-row:nth-of-type(2) .notion-column {
    width: 100%!important;
    flex: 1!important;
    padding: 0!important;
}

.notion-row:nth-of-type(2) .notion-simple-table {
    border: none!important;
}

.notion-row:nth-of-type(2) .notion-simple-table td {
    border: none!important;
    font-size: 1rem!important;
}

.notion-row:nth-of-type(2) .notion-simple-table td:first-child {
    opacity: .7!important;
}

.notion-row:nth-of-type(2):hover a {
    opacity: 1!important;
}

.notion-row:nth-of-type(2) div:first-child {
    max-width: 100%!important;
}

.notion-row:nth-of-type(2) .notion-simple-table-row td:nth-of-type(2) {
    text-align: left!important;
    width: 60%!important;
}

@media (max-width: 600px) {
    .notion-row:nth-of-type(2) .notion-blank {
        display: none!important;
    }
}

/**** NEWSLETTER ****/

.notion-quote {
    display: block!important;
    background: var(--card-bg-color)!important;
    width: 100%!important;
    white-space: normal!important;
    word-break: break-word!important;
    border-left: none!important;
    padding: 1rem!important;
    font-size: 1.5em!important;
    font-family: 'Outfit', sans-serif!important;
    color: var(--heading-color)!important;
    font-weight: bold!important;
    border-radius: 1rem!important;
}

.notion-quote > .notion-callout {
    font-family: "Roboto Mono"!important;
    font-size: 1rem!important;
    margin-top: .25rem!important;
}

.notion-quote > .notion-callout .notion-callout-text {
    flex-direction: column!important;
    align-items: flex-start!important;
    text-align: left!important;
    margin-bottom: 0!important;
}

.notion-quote > .notion-callout .notion-text {
    text-align: left!important;
    margin-top: 1rem!important;
    background-color: var(--heading-color)!important;
    padding: .75rem 1.5rem!important;
    width: fit-content!important;
    border-radius: .5rem!important;
}

.notion-quote > .notion-callout .notion-text a {
    color: #fff!important;
    opacity: 1!important;
}

.notion-quote > .notion-callout .notion-text:hover {
    opacity: .7!important;
}

/**** FOOTER ****/

.notion-page-content-inner > .notion-simple-table,
.notion-page-content-inner > .notion-simple-table .notion-link {
    font-size: .75rem!important;
    justify-content: space-between!important;
    opacity: .7!important;
    border: 0!important;
}

.notion-page-content-inner > .notion-simple-table .notion-link:hover {
    opacity: 1!important;
}

.notion-simple-table td {
    border: 0!important;
    border-top: 1px solid var(--link-color)!important;
    padding: .5rem 0!important;
}

.notion-simple-table tr:first-child td {
    background: transparent!important;
}

.notion-simple-table-row td:nth-of-type(2) {
    text-align: right!important;
}

@media (max-width: 600px) {

    .notion-page-content-inner > .notion-simple-table .notion-simple-table-row {
        display: flex!important;
        flex-direction: column!important;
    }
    
    .notion-page-content-inner > .notion-simple-table .notion-simple-table-row td:nth-of-type(2) {
        text-align: left!important;
        border-top: 0!important;
    }
}
